.swiper-haz {
  position: relative;

  &__compose {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  &__wrapper {
    height: 700px;
    max-height: 650px;
    overflow: hidden;
    position: sticky;
    top: 126px;
    left: 0;
  }

  .phantom {
    position: relative;
  }

  .swiper-slide-active {
    .swiper-card {
      &__image {
        opacity: 1;
      }
    }
  }

  &__title {
    margin-bottom: 96px;
  }
}

